:root {
  font-family: "Inter", sans-serif;
  --main-text-color: #ffffff;
  --sec-text-color: #d0d0d0;
  --background-color: #121212;
  --main-accent-color: #8feeff;
  --sec-accent-color: #21383c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--main-text-color);
}

html {
  scroll-padding-top: 6rem; /* Adjust this value as needed */
}

.entire_container {
  display: flex;
  padding-left: 6rem;
  padding-right: 6rem;
  gap: 1rem;
  max-width: 1280px; 
  min-height: 100vh; 
  margin-left: auto; 
  margin-right: auto; 
}

/* Left and Right Container */
.left_container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 50%;
  max-height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 50%;
  /* overflow-y: auto; */
}

/* Left Container */
.left_container h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.025em;
}

.left_container a {
  text-decoration: none;
}

.left_container h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -.025em;
  font-weight: 500;
  margin-top: 0.75rem;
  color: var(--main-text-color); 
}

.left_container p {
  line-height: 1.5;
  max-width: 20rem;
  margin-top: 1rem;
  color: var(--sec-text-color); 
}

.left_container .nav_bar {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 4rem;
}

.left_container .nav_bar a {
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-transform: uppercase;
  align-items: center;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .1rem;
  font-weight: 700;
  /* position: relative; */
}

/* .left_container .nav_bar a span {
  position: absolute;
  left: -20px;
  height: 2px;
  width: 0;
  background-color: var(--almost-black); /* color 1 */
  /* transition: width 0.3s;
} */

/* .left_container .nav_bar a.active span {
  width: 20px;
} */

/* when selected, color 1; else color 2 */

.left_container ul {
  list-style: none;
  display: flex;
  margin-top: 2rem;
  gap: 1.25rem;
  align-items: center;
  margin-left: 0.25rem;
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
  color: var(--sec-text-color);
}

.icon:hover {
  color: var(--main-text-color);
}

/* Right Container */

/* About Section */
.about_container {
  margin-bottom: 9rem;
}
.about_container p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--sec-text-color);
  line-height: 1.675;
}

.about_container p b {
  color: var(--main-text-color);
}

/* Experience Section */
.experience_section {
  margin-bottom: 9rem;
}

.experice_container {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.experice_container:hover {

}

.experice_container .timeline {
  grid-column: span 2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--sec-text-color);
}

.experice_container .experience_details {
  grid-column: span 6;
}

.experice_container h3 {
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 500;
}

.experice_container p {
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: var(--sec-text-color);
}

.experice_container .languages_used {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.experice_container .languages_used li {
  margin-top: 0.5rem;
  margin-right: 0.375rem;
}

.experice_container .languages_used li .languages_used_container {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: .25rem .75rem .25rem .75rem;
  color: var(--main-accent-color);
  background-color: var(--sec-accent-color);
  border-radius: 9999px;
  align-items: center;
}

.resume_container {
  margin-top: 3rem;
}

.resume_container a {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
  text-decoration: none;
}