:root {
  font-family: "Inter", sans-serif;
  --main-text-color: #ffffff;
  --sec-text-color: #d0d0d0;
  --background-color: #121212;
  --main-accent-color: #8feeff;
  --sec-accent-color: #21383c;
  --background-color-transparent: rgba(18, 18, 18, 0.8); /* Transparent background color */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
}

html {
  scroll-padding-top: 6rem; /* Adjust this value as needed */
}

body {
  background-color: var(--background-color);
}

.entire_container {
  display: flex;
  padding-left: 6rem;
  padding-right: 5.5rem;
  gap: 1rem;
  max-width: 1280px; 
  min-height: 100vh; 
  margin-left: auto; 
  margin-right: auto; 
}

/* Left and Right Container */
.left_container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 47%;
  max-height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 53%;
  /* overflow-y: auto; */
}

/* Left Container */
.left_container h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -.025em;
}

.left_container a {
  text-decoration: none;
}

.left_container h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -.025em;
  font-weight: 500;
  margin-top: 0.75rem;
  color: var(--main-text-color); 
}

.left_container p {
  line-height: 1.5;
  max-width: 20rem;
  margin-top: 1rem;
  color: var(--sec-text-color); 
}

.left_container .nav_bar {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 4rem;
}

.left_container .nav_bar a {
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-transform: uppercase;
  align-items: center;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .1rem;
  font-weight: 700;
  color: var(--sec-text-color) /* unless it is on that section of the page */ ;
  /* position: relative; */
}

.left_container ul {
  list-style: none;
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  align-items: center;
  margin-left: 0.25rem;
}

.left_container ul li a {
  color: var(--sec-text-color); /* Default icon color */
  display: flex;
  align-items: center;
}

.left_container ul li a:hover {
  color: var(--main-text-color);
}

.icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
}

.icon:hover {
  color: var(--main-text-color);
}

/* About Section */
.about_container {
  margin-bottom: 8rem;
  padding-left: 1rem;
}
.about_container p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--sec-text-color);
  line-height: 1.675;
}

.about_container p b {
  color: var(--main-text-color);
}

.about_container p b:hover {
  color: var(--main-accent-color);
}

/* Experience Section */
.experience_section {
  margin-bottom: 8rem;
}

.experice_container {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 1rem;
}

.experice_container:hover h3 {
  color: var(--main-accent-color);
}

.experice_container .timeline {
  grid-column: span 2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--sec-text-color);
}

.experice_container .experience_details {
  grid-column: span 6;
}

.experice_container h3 {
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 500;
}

.experice_container p {
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: var(--sec-text-color);
}

.experice_container .languages_used {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.experice_container .languages_used li {
  margin-top: 0.5rem;
  margin-right: 0.375rem;
}

.experice_container .languages_used li .languages_used_container {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: .25rem .75rem .25rem .75rem;
  color: var(--main-accent-color);
  background-color: var(--sec-accent-color);
  border-radius: 9999px;
  align-items: center;
}

.resume_container {
  margin-top: 3rem;
}

.resume_container a {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.arrow_icon {
  color: var(--main-text-color);
  height: .675rem;
  width: .675rem;
  margin-left: 0.5rem;;
}

.resume_container a:hover {
  color: var(--main-accent-color);
  text-decoration: underline;
}

.resume_container a:hover .arrow_icon {
  color: var(--main-accent-color); 
  stroke: var(--main-accent-color);
}

/* Project Section */
.project_section a {
  text-decoration: none;
}

.project_container {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
}

.project_container:hover h3, 
.project_container:hover path {
  color: var(--main-accent-color);
}

.project_container:hover img {
  border: 2px solid rgba(226, 232, 240, 0.5);
}

.project_container .project_image_container {
  grid-column: span 2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--sec-text-color);
}

.project_container .project_info_container {
  grid-column: span 6;
}

.project_container h3 {
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 500;
}

.project_container p {
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: var(--sec-text-color);
}

.project_container .languages_used {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.project_container .languages_used li {
  margin-top: 0.5rem;
  margin-right: 0.375rem;
}

.project_container .languages_used li .languages_used_container {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: .25rem .75rem .25rem .75rem;
  color: var(--main-accent-color);
  background-color: var(--sec-accent-color);
  border-radius: 9999px;
  align-items: center;
}

.project_image_container img {
  max-width: 100%;
  height: auto;
  color: transparent;
  border-radius: .25rem;
  border: 2px solid rgba(226, 232, 240, .1);
}

/* Right Container */
.section_header {
  display: none;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .entire_container {
    flex-direction: column;
    padding: 5rem 3rem 5rem 3rem;
    gap: 0;
  }

  .left_container {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }

  /* Be careful on with this */
  .left_container_text {
    max-height: 9.5rem;
  }

  .right_container {
    width: 100%;
  }

  .nav_bar a {
    display: none;
  }

  .section_header {
    display: block; /* Ensure section headers are visible */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    z-index: 10; /* Ensure it stays on top */
    margin-bottom: 1rem;
    background-color: var(--background-color-transparent);
    backdrop-filter: blur(10px);
  }

  .section h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 768px) {
  .entire_container {
    padding: 3rem 1.5rem 3rem 1.5rem;
  }
}

@media (max-width: 640px) {
  .left_container h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  /* Be careful on with this */
  .left_container_text {
    max-height: 8.75rem;
  }

  .experice_container {
    display: block;
  }

  .experice_container .timeline {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
  }

  .project_container {
    display: block;
    padding-top: 1rem;
  }

  .project_container .project_image_container {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
  }

  .project_container img {
    height: 8rem;
  }
}

@media (max-width: 400px) {
  .left_container_text {
    max-height: none;
    height: auto;
  }

  .left_container p {
    max-width: 100%; 
  }

  .left_container ul {
    margin-top: 0;
  }

  .project_container img {
    width: 100%;
    height: auto;
  }
}

/* Styling for Experience Section Hover Effect */
.experice_container:hover {
  border-radius: .375rem;
  background-color: rgba(255, 255, 255, 0.03);
}

.project_container:hover {
  border-radius: .375rem;
  background-color: rgba(255, 255, 255, 0.03);
}